body {
	position: relative;
	height: 100%;
	margin: 0;
	color: #444;
	background: rgba(187, 187, 187, 0.08);
	font: 300 18px/18px Roboto, sans-serif;
	letter-spacing: 1.67px;

}

*,
:after,
:before {
	box-sizing: border-box
}

h1{
	color: #616161;
	font-size: 18px;
	padding: 20px 0 0 22px;
  
}

.container {
	position: relative;
	max-width: 1100px;
	height: auto;
	display: flex;
	flex-direction: column; 
	background: #fff;
	borger: 0;
	border-radius: 15px;
	margin: 5% auto ;
}

header {
	position: relative;
	height: 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.icon-logo-header {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 148px;
  height: 24px;
}



.icon-logo-decoration{
	fill: #4caf50;
}

.image {
	margin-right: 5px !important;
}

.btn-header {
	position: absolute;
	top: 34%;
	right: 23%;
}

.btn-item {
	letter-spacing: 1.67px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  background: #fff;
  color:#61616194;
  outline:0;

}

.btn-item:focus {
	color: #4caf50;

}

/*-------------DRopdown----------------------*/

.avatar-container {

	position: absolute;
	top: 44%;
	right: 4%;
}


main {
	height: auto;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(3, 300px); 
	justify-content: center;
	
}

.switch {
	display: none;
}

.switch-day-night .label:before {
	content: '';
	position: absolute;
}

.switch-day-night {
	width: 320px;
	height: 268px;
	overflow: hidden;
	margin: 10% auto 0;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .19);
}

.switch-day-night .top {
	height: 60px;
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.moon {
	display: none;
}

.switch-day-night .top .sun-moon {
	top: 13px;
	right: 15px;
	width: 35px;
	height: 35px;
	position: absolute;
	border-radius: 50%;
	background-color: #fff;
	transform: scale(.8);
	transition: all .4s ease-in-out 0s;
}

.sun {
	color: #FFB300;
}

.moon {
	color:  #303F9F;
}

.sun, 
.moon {
	position: absolute;
	top: 15%;
	right: 20%;
}

.switch-day-night .bottom {
	position: relative;
	padding: 20px;
	background-color: #fff;
}

span {
	font-size: 12px;
	color: #333333ad;
}

.work {
	position: absolute;
	left: 20px;
	top: 80px;
}

.label-container{
	display: inline-block;
	position: absolute;
	right: 15px;
}

.switch-day-night .label-container .label {
	width: 30px;
	height: 2px;
	display: block;
	cursor: pointer;
	position: relative;
	margin: 10px;
	border-radius: 14px;
	background-color: #FDD835;
	transition: all .4s ease-in-out 0s;
}


.switch-day-night .label:before {
	top: 3px;
	width: 15px;
	height: 15px;
	margin-top: -10px;
	border-radius: 50%;
	text-align: center;
	transition: inherit;
	background-color: #FFB300;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}

.switch:checked + .switch-day-night .top .sun-moon .moon {
	display: block;
}

.switch:checked + .switch-day-night .top .sun-moon .sun {
	display: none;
}

.switch:checked + .switch-day-night .bottom .label {
	background: #7986CB;
}

.switch:checked + .switch-day-night .bottom .label:before {
	left: 15px;
	background: #303F9F;
}

/*----------------Time ------------------*/

.time-row {
  width: 50%;
  position: absolute; 
  top: 80%;
  right: 5px;
  display: inline-block;
}

.time-row span {
  color: #33333352;
  height: 74px;
  line-height: 74px;
  vertical-align: top;
  margin: 1px 4px 0 4px;
}

.input-time-container {
  display: inline-block; 
}

.time-arrow-up,
.time-arrow-down {
  text-align: center; 
  width: 60px;
  height: 25px;
  user-select: none;
}

.time-arrow-up i {
	color: #FDD835; 
  cursor: pointer;
	margin-top: 3px; 
}

.time-arrow-down i {
	color: #FDD835; 
  cursor: pointer;
	margin-bottom: 11px; 
}

.input-text,
textarea {
  display: inline-block;
  width: 100%;
}

.input-text {
  height: 36px;
  width: 366px;
  font-size: 13px;
  padding: 0 12px 0 12px;
  
  border-radius: 10%;
  background-color: transparent;
  border: solid 1px #c4c4c4;
  transition: border .5s;
}

.input-text:focus {
  border: solid 1px #ccc; 
  transition: border .5s;
  outline: none;
}

.labeled-input .input-text {
  width: calc(100% - 33px); 
  margin-bottom: 8px;
}

.input-time {
  width: 60px; 
  text-align: center;
}

/*-----------BTN------------*/

.btn{
	display: inline-block;
	position: absolute;
	top: 150px;
	right: 20px;
}

.md-btn {
  letter-spacing: 1.67px;
 }

.clean {
	text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #61616169;
  border-radius: 5px;
  background: #fff;
  color:#616161;
  outline:0;
}


.accept{
	text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border:0;
  border-radius: 5px;
  background: #4caf50;
  color:#fff;
  outline:0;
	
}

.accept:disabled {
	background: #e5e5e5;
}

.accept:focus {
    background: #3e9842;
}

.md-btn-raised:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }


.md-btn-ripple {
  overflow: hidden;
  position: relative;
}

.md-btn-ripple:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  transform: scale(0);
}

.md-btn-ripple:after {
  visibility: hidden;
}

.md-btn-ripple:focus:after {
  visibility: visible;
}

.md-btn-ripple:not(:active):after {
  animation: md-btn-ripple .6s ease-out;
}

@keyframes md-btn-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

footer {
	position: relative;
	height: 155px;
	width: 100%;
	margin-top: 40px;
	background: #cccccc96;
	border-top: 1px solid #ccc;
	border-radius: 0 0 15px 15px;
}

.icon-logo-footer {
	position: absolute;
	width: 148px;
  height: 24px;
	top: 25px;
	left: 47px;
}

.contacts {
	position: absolute;
	top: 19%;
	right: 17%;
}

.contacts span{
	color: #000000ad;
}

.contacts p,
.social-block p {
	color: #808080;
	font-size: 11px;
	margin-top: 5px; 
}

h2{
	color: #232323;
	font-size: 14px;
	margin: 0 0 5px 0;
}

.social-block {
	position: absolute;
	top: 20%;
	left: 36%;
}

.terms {
	display: grid;
	grid-template-columns: 63% 5% 40%; 
}

h3 {
	font-size: 13px;
	margin: 0;
	cursor: pointer;
	color: #232323e8;
}

h3:hover {
	
}

.social{
	margin-bottom: 10px; 
	coursor: pointer;
}

.social a i {
	font-size: 16px;
	color: #232323e8;
	margin-right: 5px;
}


/*----------------UI Semantic-----------------*/









@media screen and (max-width:1050px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(3, 300px); 
		justify-content: center;
   
	}
	.contacts {
		right: 5%;
	}
}

@media screen and (max-width:780px) {
	
	.btn-header,
	.avatar-container {
		display: none;
	}
	
	.container{
		border-radius: 0;
		margin: 0;
	}

  main {
    display: grid;
    grid-template-columns: 350px;
		grid-template-rows: repeat(7, 290px); 
		justify-content: center;
   
	}
	
	footer {
		height: 175px;
		border-radius: 0;
	}
	.contacts {
		top: 36%;
		left: 63%;
	}

	.icon-logo-footer {
		top: 13%;
		left: 4%;
		width: 100px;
	}

	.social-block{
		left: 4%;
		top: 35%;
	}
}

@media screen and (max-width:530px) {
  
	footer {
		height: 265px;
	}
	.contacts {
		top: 20%;
		left: 4%;
	}

	.icon-logo-footer {
		top: 7%;
		left: 4%;
		width: 100px;
	}

	.social-block{
		left: 4%;
		top: 61%;
	}

}

