body {
	position: relative;
	height: 100%;
	margin: 0;
	color: #444;
	background: rgba(187, 187, 187, 0.08);
	font: 300 18px/18px Roboto, sans-serif;
	letter-spacing: 1.67px;

}

*,
:after,
:before {
	box-sizing: border-box
}

h1{
	color: #616161;
	font-size: 18px;
	padding: 20px 0 0 22px;
  
}

.container {
	position: relative;
	max-width: 1100px;
	height: auto;
	display: flex;
	flex-direction: column; 
	background: #fff;
	borger: 0;
	border-radius: 15px;
	margin: 5% auto ;
}

header {
	position: relative;
	height: 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.icon-logo-header {
	position: absolute;
	top: 35%;
	left: 4%;
	width: 148px;
  height: 24px;
}



.icon-logo-decoration{
	fill: #4caf50;
}

.image {
	margin-right: 5px !important;
}

.btn-header {
	position: absolute;
	top: 32%;
	right: 23%;
}

.btn-item {
	letter-spacing: 1.67px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  background: #fff;
  color:#61616194;
  outline:0;

}

.btn-item:focus {
	color: #4caf50;

}

.avatar-container {

	position: absolute;
	top: 39%;
	right: 4%;
}

.avatar-container span {
	font-size: 12px;
}

footer {
	position: relative;
	height: 155px;
	width: 100%;
	margin-top: 40px;
	background: #cccccc96;
	border-top: 1px solid #ccc;
	border-radius: 0 0 15px 15px;
}

.icon-logo-footer {
	position: absolute;
	width: 148px;
  height: 24px;
	top: 25px;
	left: 47px;
}

.contacts {
	position: absolute;
	top: 19%;
	right: 17%;
}

.contacts span{
	color: #000000ad;
	font-size: 12px;
}

.contacts p,
.social-block p {
	color: #808080;
	font-size: 11px;
	margin-top: 5px; 
}

h2{
	color: #232323;
	font-size: 14px;
	margin: 0 0 5px 0;
}

.social-block {
	position: absolute;
	top: 20%;
	left: 36%;
}

.terms {
	display: grid;
	grid-template-columns: 63% 5% 40%; 
}

h3 {
	font-size: 13px;
	margin: 0;
	cursor: pointer;
	color: #232323e8;
}

h3:hover {
	
}

.social{
	margin-bottom: 10px; 
	coursor: pointer;
}

.social a i {
	font-size: 16px;
	color: #232323e8;
	margin-right: 5px;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 85%;
  height: 440px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 15px 0;
  transition: 0.5s;
  transform: translateX(-100%);
}

.menu-btn {
	color: #232323e8;
}

.menu-btn:hover {
	color: #3e3e3ed4;
}

.menu_active {
  transform: translateX(0%);
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.menu-list a {
	text-decoration: none;
	color: #1f1f1f;
	margin: 25px 0 0 30px;
}

.avatar {
	width: 30px !important;
	height: 30px !important;
	height: 200px;
	background: #e1e1e1;
	border-bottom: 1px solid #ccc
}

.avatar img {
	position: absolute;
	top: 23px;
	left: 30px;
	border-radius: 50%;
	width: 100px;
	
}

.avatar span {
	position: absolute;
	top: 136px;
	left: 30px;
	color: #1f1f1f ;
	font-size: 14px;
}

.avatar p {
	position: absolute;
	top: 161px;
	left: 30px;
	color: #232323;
	font-size: 12px;
}

.avatar i {
	position: absolute;
	top: 159px;
	right: 30px;
	cursor: pointer;
}

.menu-btn {
  position: absolute;
}



.content_active {
  transform: translateX(30%);
}

@media screen and (max-width:1050px) {
	.contacts {
		right: 5%;
	}
}

@media screen and (max-width:780px) {
	
	.btn-header,
	.avatar-container {
		display: none;
	}
	
	.container{
		border-radius: 0;
		margin: 0;
	}

  main {
    display: grid;
    grid-template-columns: 350px;
		grid-template-rows: repeat(7, 290px); 
		justify-content: center;
   
	}
	
	footer {
		height: 175px;
		border-radius: 0;
	}
	.contacts {
		top: 36%;
		left: 63%;
	}

	.icon-logo-footer {
		top: 13%;
		left: 4%;
		width: 100px;
	}

	.social-block{
		left: 4%;
		top: 35%;
	}
}

@media screen and (max-width:530px) {
  
	.menu {
		display: block;
	}

	.menu-btn {
		right: -15%;
		top: 31px;
	}

	footer {
		height: 265px;
	}
	.contacts {
		top: 20%;
		left: 4%;
	}
	
	.icon-logo-header {
		top: 33%;
		left: 57%;
	}

	.icon-logo-footer {
		top: 7%;
		left: 4%;
		width: 100px;
	}

	.social-block{
		left: 4%;
		top: 61%;
	}

}

.btn{
	display: inline-block;
	position: absolute;
	top: 150px;
	right: 20px;
}

.md-btn {
  letter-spacing: 1.67px;
 }

.clean {
	text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #61616169;
  border-radius: 5px;
  background: #fff;
  color:#616161;
  outline:0;
}


.accept{
	text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border:0;
  border-radius: 5px;
  background: #4caf50;
  color:#fff;
  outline:0;
	
}

.accept:disabled {
	background: #e5e5e5;
}

.accept:focus {
    background: #3e9842;
}

.md-btn-raised:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }


.md-btn-ripple {
  overflow: hidden;
  position: relative;
}

.md-btn-ripple:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  transform: scale(0);
}

.md-btn-ripple:after {
  visibility: hidden;
}

.md-btn-ripple:focus:after {
  visibility: visible;
}

.md-btn-ripple:not(:active):after {
  animation: md-btn-ripple .6s ease-out;
}

@keyframes md-btn-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}